p All content of this website is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.txt">CC-BY-NC-SA 4.0</a>. The source code can be found <a href="http://github.com/error800/error800.github.io-source">here</a> and is licensed under <a rel="license" href="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3.0</a>. Enjoy.
